<div class="row">
    <div class="col-md-3">
        <ul id="side-nav">
            <li ng-repeat="report in reports" ng-class="{'active': currentView === report}">
                <a href="javascript:void(0)" ng-click="setView(report)"> {{report}} </a> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
    	<div ng-repeat="report in reports | filter : currentView" ui-view="{{report}}"></div>
	</div>
</div>