<div class="row">
	<div class="col-md-12">
		<h2>Home</h2>
	</div>
	<br/>
	<div class="col-md-4 right-separator home-page-col">
		<span class="bold-text">Sessions</span><br/>
		<span class="home-page-count">0</span>
	</div>
	<div class="col-md-4 right-separator home-page-col">
		<span class="bold-text">Users</span><br/>
		<span class="home-page-count">0</span>
	</div>
	<div class="col-md-4 home-page-col">
		<span class="bold-text">Page views</span><br/>
		<span class="home-page-count">0</span>
	</div>
</div>