<div class="row">
	<!-- <div class="col-md-12">
		<!-- <h2>Home</h2>
	</div> -->
	<br/><br/>
	<div class="col-md-4 right-separator home-page-col">
		<span class="bold-text">Page views</span><br/>
		<span class="home-page-count">{{pageViews}}</span>
	</div>
	<div class="col-md-4 right-separator home-page-col">
		<span class="bold-text">Total clicks</span><br/>
		<span class="home-page-count">{{clicks}}</span>
	</div>
	<div class="col-md-4 home-page-col">
		<span class="bold-text">Exits</span><br/>
		<span class="home-page-count">{{exits}}</span>
	</div>
</div>
