<div class="row">
	<!-- <div class="col-md-8 col-md-offset-2">
		<ul class="nav nav-pills">
  			<li role="presentation" class="active"><a href="#">Year</a></li>
  			<li role="presentation"><a href="#">Month</a></li>
  			<li role="presentation"><a href="#">Week</a></li>
  			<li role="presentation"><a href="#">Today</a></li>
  			<li role="presentation"><a href="#">Now</a></li>
		</ul>
	</div> -->
	<h2>Page views</h2>
	<div class="col-md-12">
		<div google-chart chart="chartObject" style="height:600px; width:100%;"></div>
	</div>
</div>